@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Role</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Edit Role</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
            @if (ViewBag.Message != "")
            {
                <p style="color: red">ViewBag.Message</p>
            }
            
            <div class="form-group">
                Role Name
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name)
                    <input type="hidden" name="oldName" value="@Html.AttributeEncode(Model.Name)" />
                </div>
            </div>
        <br>&nbsp;<br> 
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
