@model IEnumerable<HackathonPMA.Models.Fund>


@{
    ViewBag.Title = "Create";
}

<h2>Fund mapping details</h2>

@using (Html.BeginForm("fundsMapping", "Funds", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <input id="hdnFunds" type="hidden" name="hdnFunds" value="" />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <table id="tbDetails" class="table">
                <tr>
                    <th>
                        @Html.ActionLink("Name", "Index", new { sortBy = ViewBag.NameSort })
                    </th>
                    <th>
                        @Html.ActionLink("Description", "Index", new { sortBy = ViewBag.DescriptionSort })
                    </th>
                    <th>
                        @Html.ActionLink("Amount", "Index", new { sortBy = ViewBag.AmountSort })
                    </th>
                    <th>
                       Remaning Amt
                    </th>
                    <th>
                        Choose Share (%)
                    </th>
                    <th>
                        Amount allocated
                    </th>
                </tr>
                @{
    int counter = 0;
    var val = "";
    var t = 0;
    var perc = 0;
                }
                @foreach (var item in Model)
                {
                    counter++;
                    if (@ViewBag.hdnUsr == null)
                    { t = Convert.ToInt32(item.TotalAmount) - Convert.ToInt32(item.SpentAmount); }
                    else
                    { t = Convert.ToInt32(item.TotalAmount); }
                    
                    val = @item.TotalAmount;
                    
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAmount )
                        </td>
                        <td>
                            @t
                        </td>

                        <td>
                            <input type="text" id="perc" class="number-only" onkeyup="AllAmt(this.value, @item.Id, @t, 'sAmt' + @counter.ToString());" />
                        </td>
                        <td>
                            @*@Html.LabelFor(modelItem => item.SpentAmount, new { @id = "sAmt" + counter.ToString() })*@
                           
                            @Html.LabelFor(f => item.SpentAmount, new { @id = "sAmt" + counter.ToString() })

                            @Html.DisplayFor(f => item.SpentAmount)

                        </td>
                    </tr>
                }

            </table>

            @{
    if (Model.Count() <1 )
    {
                <div>Funds are not available.. Please add funds.</div>
    }

            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="btnAction" id="btnActionSave" value="Finish" class="btn btn-default" />
            <input type="submit" name="btnAction" id="btnActionSave" value="Back" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(function(){

            $('.number-only').keypress(function(e) {
                if(isNaN(this.value+""+String.fromCharCode(e.charCode))) return false;
            })
            .on("cut copy paste",function(e){
                e.preventDefault();
            });

        });

        function AllAmt(per,fid, amt, cntrl)
        {
            if(per=="-")
                per=0
            if(per<0)
                per=0
            if(per>100 )
                per = 100;
            var hdnval = "";
            var ext = 0;
            var x = ((per * amt) / 100);;
            // selecteduserid.value = selecteduserid.value + "#" + x.value;
            var arr = $('#hdnFunds').val().split("#");
            debugger;
            for (i = 0; i < arr.length; i++) {
                if (arr[i] != "") {
                    var arr1 = arr[i].split(",");
                    if (arr1[0] == fid) {
                        arr1[1] = x;
                        ext = 1;
                    }
                    hdnval = hdnval + "#" + arr1[0] + "," + arr1[1];
                }
            }
            if (ext == 0)
                hdnval = hdnval + "#" + fid + "," + x;

            $('#hdnFunds').val(hdnval);

            $('#'+cntrl).text((per*amt)/100);
        }
    </script>
}
