@model HackathonPMA.Models.ByProjectViewModel
@{
    ViewBag.Title = "View Graph By Project";
}

<h2>View Graph By Project</h2>

<div class="row">
    <div class="col-md-14">
        <section id="showGraph">
            @using (Html.BeginForm ())
    {
                <div class="form-horizontal">
                    @Html.AntiForgeryToken()
                    <h4>Enter details to view graph</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(m => m.ProjectName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.ProjectName, Model.ProjectList, "Select Project ...", new { @class = "form-control", @id = "projDropDown" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Location, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.ProjectName, Model.ProjectList, "All", new { @class = "form-control", @id = "locationDropDown" })
                        </div>
                    </div>
                    @* <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div> *@
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" id="showGraph" value="Show Graph" class="btn btn-default" />
                        </div>
                    </div>
                   </div>

                        }
</section>
    </div>
    <!-- <div class="col-md-4">
         <section id="socialLoginForm">
          @*   @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        *@ ></section>
     </div> -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(function () {
            $('select#projDropDown').change(function () {
                var projName = $(this).val();
                //loadings locations from database for the selected project
                $.ajax({
                    url: 'LoadLocations',
                    type: 'POST',
                    data: JSON.stringify({ projName: projName }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        // selecteduserid.value = "";
                        $('#locationDropDown').val(data);
                    }
                });
            });
            //Binding click event on dynamic created element
            $(document).on('click', "#chkshMap", function () {
                var x = this;
                // selecteduserid.value = selecteduserid.value + "#" + x.value;
                $('#selecteduserid').val($('#selecteduserid').val() + "#" + x.value);
            });


            //Binding click event on static elemnts
            $("input#showGraph").on('click', function () {
                return ByProjectChart();
            });
        });
    </script>
}
